.column {
  width: 100%;
}

.mobile-only {
  display: inline-block;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 800px) {
  .column {
    max-width: 800px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }
}