li {
  position: relative;
  background-color: white;
  padding: 20px 20px 20px 80px;
  list-style-type: none;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.score {
  position: absolute;
  left: 0;
  top: 50%;
  width: 80px;
  text-align: center;
  height: 100%;
  margin-top: -10px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1em;
}

span a {
  color: black;
  text-decoration: none;
}

.meta {
  font-size: .8em;
  color: rgb(125, 125, 125);
}

stencil-route-link a {
  color: rgb(125, 125, 125);
  text-decoration: underline;
}

stencil-route-link a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
